/* NavBar CSS */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
    width: 95%; /* Changed to 100% for proper alignment */
    color: white;
    position: fixed;
    top: 0;
    left: 2rem;
    z-index: 1000; /* Keeps the navbar on top */
  }
  
  .navbar-logo h2 {
    margin: 0;
    font-size: 24px;
    color: #f5f5f5;
  }
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    color: #f0a500;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px; /* Added more space between form and login button */
  }
  
  .search-form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust gap between input and button */
  }
  
  .navbar-search {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 200px; /* Set a fixed width for the search bar */
  }
  
  button {
    padding: 8px 15px;
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d48e00;
  }
  
  .navbar-login {
    padding: 8px 15px;
  }
  